.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-header img {
  height: 100%;
}

.profile-content {
  height: calc(100vh - 64px);
}

.profile-logout.ant-typography {
  color: #ffffff;
  margin-left: 20px;
  cursor: pointer;
}

.profile-content .ant-row {
  height: 100%;
  padding: 3rem 0 0;
}

.profile-content-settings a {
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
  color: #000000;
}

.profile-content-settings a:hover {
  color: #000000;
  text-decoration: underline;
}
